<div *ngIf="isSearch">
  <search-content (close)="onCancel($event)"></search-content>
</div>
<header>
  <div class="back-button">
    <button class="toolbar-button">
        <img src="../../../assets/slices/Back.png" class="toolbar-button-image">
        <span>Movies</span>
    </button>
     
  </div>
  <div class="spacer">
  </div>
  <div class="toolbar-button no-default-button">
      <img src="../../../assets/slices/search.png" class="toolbar-button-image" (click)="search()">
  </div>
</header>

