<div class="search-content-container">
    <div class="search-field">
        <div class="top-toolbar rounded-corner">
            <div>
                <img src="../../../assets/slices/close.svg" class="" (click)="cancel()">
            </div>
            <input type="text" [value]="searchtxt" (input)="searchtxt = $event.target.value" autofocus>   
            <div>
                <img src="../../../assets/slices/searchblack.svg" class="" (click)="seachfn()">
            </div>
        </div>
    </div>
    <div class="search-results">
        <div class="results-list">
            <ul>
                <li *ngFor="let i of data">
                    <div class="thumbnail">
                        <img src="../../../assets/slices/{{i['poster-image']}}" onerror="this.src='../../../assets/slices/placeholder_for_missing_posters.png'">
                    </div>
                    <div class="content-detail">
                        <p>
                            {{ i.name }}
                        </p>
                    </div>
                </li>
            </ul>
            <ul *ngIf="data?.length == 0 && searched">
                    <li>
                            <div align="center">
                                    <p>
                                        No result found
                                    </p>
                            </div>
                    </li>
            </ul>
        </div>
    </div>
</div>