<div class="search-content-container">
    <div class="search-field">
        <div class="top-toolbar rounded-corner">
            <button class="no-default-button fal fa-times" (click)="cancel()">Cancel</button>
            <input type="text" [value]="searchtxt" (input)="searchtxt = $event.target.value" autofocus>
            <button class="no-default-button" (click)="seachfn()">Search</button>
        </div>
    </div>
    <div class="search-results">
        <div class="results-list">
            <ul>
                <li *ngFor="let i of data">
                    <div class="thumbnail">
                        <img src="../../../assets/slices/{{i['poster-image']}}" onerror="this.src='../../../assets/slices/placeholder_for_missing_posters.png'">
                    </div>
                    <div class="content-detail">
                        <p>
                            {{ i.name }}
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>