<div class="search-content-container">
    <div class="search-field">
        <div class="top-toolbar rounded-corner">
            <button class="no-default-button fal fa-times" (click)="cancel()">Cancel</button>
            <input type="text">
            <button class="no-default-button">Search</button>
        </div>
    </div>
    <div class="search-results">
        <div class="results-list">
            <ul>
                <li *ngFor="let val of items">
                    <div class="thumbnail">
                        <img src="https://secure-media3.hotstar.com/r1/thumbs/PCTV/59/2001753159/PCTV-2001753159-hs.jpg">
                    </div>
                    <div class="content-detail">
                        <p>
                            Hello fsfgdfgn rgkdsjfgkjdff sfgsdfgsdfgsdfgsdfg
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>